flows.json
[{"id":"3b06f071.6da4a","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"cafaa04e.94031","type":"watson-conversation-v1","z":"3b06f071.6da4a","name":"Pandemic Chat BOt","workspaceid":"8b5b077b-5440-422a-878e-64817b728017","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/24771141-6877-484b-a0cf-b08b71e95a73","timeout":"","optout-learning":false,"x":480,"y":120,"wires":[["ba3a2000.45b07"]]},{"id":"b8290b72.19f878","type":"inject","z":"3b06f071.6da4a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":170,"y":100,"wires":[["cafaa04e.94031"]]},{"id":"fdecc31e.80b6","type":"debug","z":"3b06f071.6da4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"ba3a2000.45b07","type":"function","z":"3b06f071.6da4a","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":140,"wires":[["fdecc31e.80b6","aaa77038.c061","c47cc8e6.defa08","c933c950.0759c8"]]},{"id":"b1ec91ec.c2f1","type":"ui_form","z":"3b06f071.6da4a","name":"","label":"","group":"27ef13e1.bb462c","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["ab18f741.f1e028"]]},{"id":"ab18f741.f1e028","type":"function","z":"3b06f071.6da4a","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["cafaa04e.94031","1d8a580f.dedd88"]]},{"id":"1d8a580f.dedd88","type":"ui_text","z":"3b06f071.6da4a","group":"27ef13e1.bb462c","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"aaa77038.c061","type":"ui_text","z":"3b06f071.6da4a","group":"27ef13e1.bb462c","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-left","x":790,"y":220,"wires":[]},{"id":"c47cc8e6.defa08","type":"ui_audio","z":"3b06f071.6da4a","name":"","group":"27ef13e1.bb462c","voice":"en-US","always":"","x":740,"y":80,"wires":[]},{"id":"c933c950.0759c8","type":"ui_template","z":"3b06f071.6da4a","group":"27ef13e1.bb462c","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":120,"wires":[[]]},{"id":"27ef13e1.bb462c","type":"ui_group","z":"","name":"Pandemic Chat Bot","tab":"ca3abbad.dc71c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ca3abbad.dc71c8","type":"ui_tab","z":"","name":"Pandemic Chat Bot","icon":"dashboard","disabled":false,"hidden":false}]